In [120]:
import numpy as np
import pandas as pd

In [121]:
match = pd.read_csv('match_info_data.csv')
delivery = pd.read_csv('match_complete_data.csv',low_memory=False)

In [122]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [123]:
match.shape

(1024, 18)

In [124]:
delivery.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [125]:
delivery.shape

(243817, 23)

In [126]:
# Group by 'match_id' and 'innings' and sum only 'runs_off_bat' and 'extras'
total_score_df = delivery.groupby(['match_id', 'innings']).sum()[['runs_off_bat', 'extras']].reset_index()

In [127]:
# Calculate the total score by summing 'runs_off_bat' and 'extras'
total_score_df['total_score'] = total_score_df['runs_off_bat'] + total_score_df['extras']

In [128]:
# Add 1 run to the total score
total_score_df['total_score'] += 1

In [129]:
# Display the resulting DataFrame for both innings
total_score_df.tail()

      match_id  innings  runs_off_bat  extras  total_score
2070   1370351        2            91      10          102
2071   1370352        1           223      10          234
2072   1370352        2           164       7          172
2073   1370353        1           210       4          215
2074   1370353        2           166       5          172

In [130]:
#merging this total_score column based on match_id to match_info_data
match_df = match.merge(total_score_df[['match_id','innings','total_score']],left_on='id',right_on='match_id')

In [131]:
match_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,innings,total_score
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,...,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,1,215
1,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,...,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,2,172
2,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,...,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,1,234
3,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,...,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,2,172
4,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,...,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,1,183

In [132]:
match_df['team1'].unique()

array(['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [133]:
teams = [
    'Mumbai Indians',
    'Chennai Super Kings',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Kolkota Knight Riders',
    'Sunrisers Hyderabad',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Gujarat Titans',
    'Lucknow Super Giants'
]

In [134]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['team1'] = match_df['team1'].str.replace('Punjab Kings','Kings XI Punjab')
match_df['team2'] = match_df['team2'].str.replace('Punjab Kings','Kings XI Punjab')

In [135]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [136]:
match_df.shape

(1438, 21)

In [137]:
#extracting only match with no dl_applied
match_df = match_df[match_df['dl_applied'] == 0]

In [138]:
match_df = match_df[['match_id','innings','city','winner','total_score']]

In [139]:
match_df.head()

   match_id  innings       city               winner  total_score
2   1370352        1  Ahmedabad       Gujarat Titans          234
3   1370352        2  Ahmedabad       Gujarat Titans          172
4   1370351        1    Chennai       Mumbai Indians          183
5   1370351        2    Chennai       Mumbai Indians          102
6   1370350        1    Chennai  Chennai Super Kings          173

In [140]:
delivery_df = match_df.merge(delivery, on=['match_id', 'innings'])

In [141]:
delivery_df.shape

(168143, 26)

In [142]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352

In [143]:
delivery_df['current_score'] = delivery_df.groupby(['match_id', 'innings']).apply(
    lambda x: (x['runs_off_bat'] + x['extras']).cumsum()
).reset_index(level=[0, 1], drop=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7900\3282631527.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  delivery_df['current_score'] = delivery_df.groupby(['match_id', 'innings']).apply(

In [144]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2

In [145]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]

In [146]:
filtered_df

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
127,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
128,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
129,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
130,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5
131,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",0.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",17.6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",18.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",18.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171

In [147]:
# Extract over and ball number from the ball column
delivery_df['over'] = delivery_df['ball'].astype(int)+1
delivery_df['ball'] = (delivery_df['ball'] * 10 % 10).astype(int)

# Cap the number of overs to 20
delivery_df = delivery_df[delivery_df['over'] < 20]

In [148]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]
filtered_df

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over
127,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1
128,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1
129,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1
130,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5,1
131,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166,18
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,18
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,18
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171,19
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171,19

In [149]:
delivery_df.to_csv("new_data_with_over.csv", index=False)

In [150]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [151]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1,119
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,1,118
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1,117
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2,1,116
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,2,1,115

In [152]:
#player_dismissed tell if batsman was out or not while playing that ball
#filling null values with 0
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")

#if column value is not zero mark it 1
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")

#changing datatype of column name
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

#finding wickets using cumulative sum function
wickets = delivery_df.groupby(['match_id', 'innings'])['player_dismissed'].cumsum()

#calculating wickets left by simple math operation
delivery_df['wickets_left'] = 10 - wickets

In [153]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]
filtered_df.tail()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left
237,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,166,18,14,1
238,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,170,18,13,1
239,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",6,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,170,18,12,1
240,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Mumbai Indians,...,NaN,NaN,0,NaN,NaN,1370352,171,19,11,1
241,1370352,2,Ahmedabad,Gujarat Titans,172,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Mumbai Indians,...,NaN,caught,1,NaN,NaN,1370352,171,19,10,0

In [154]:
#crr=current_runs/current_overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,0,1,119,10,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,0,1,118,10,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,1,1,117,10,2.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,2,1,116,10,3.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,0,NaN,NaN,1370352,2,1,115,10,2.4

In [155]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [156]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,0,NaN,NaN,1370352,0,1,119,10,0.0,1
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,0,NaN,NaN,1370352,0,1,118,10,0.0,1
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,0,NaN,NaN,1370352,1,1,117,10,2.0,1
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,0,NaN,NaN,1370352,2,1,116,10,3.0,1
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,0,NaN,NaN,1370352,2,1,115,10,2.4,1

In [157]:
groups = delivery_df.groupby(['match_id', 'innings'])

# Get unique combinations of match_id and innings
match_id_innings = delivery_df[['match_id', 'innings']].drop_duplicates().values.tolist()

last_five = []

for id in match_id_innings:
    match_group = groups.get_group(tuple(id))
    
    # Calculate the rolling sum of the current score over the last 30 balls
    last_five.extend(
        match_group['current_score'].rolling(window=30, min_periods=1).apply(lambda x: x.iloc[-1] - x.iloc[0], raw=False).tolist()
    )
delivery_df['last_five_over_score'] = last_five

In [158]:
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result,last_five_over_score
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,NaN,NaN,1370352,0,1,119,10,0.0,1,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,NaN,NaN,1370352,0,1,118,10,0.0,1,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,NaN,NaN,1370352,1,1,117,10,2.0,1,1.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,NaN,NaN,1370352,2,1,116,10,3.0,1,2.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,NaN,NaN,1370352,2,1,115,10,2.4,1,2.0

In [159]:
# Step 1: Calculate the wickets column
max_wickets = 10
delivery_df['wickets'] = max_wickets - delivery_df['wickets_left']

# Step 2: Calculate the last_five_over_wicket
groups = delivery_df.groupby(['match_id', 'innings'])

# Get unique combinations of match_id and innings
match_id_innings = delivery_df[['match_id', 'innings']].drop_duplicates().values.tolist()

last_five_over_wickets = []

for id in match_id_innings:
    match_group = groups.get_group(tuple(id))
    
    # Calculate the rolling sum of wickets over the last 30 balls
    last_five_over_wickets.extend(
        match_group['wickets'].rolling(window=30, min_periods=1).apply(lambda x: x.iloc[-1] - x.iloc[0], raw=False).tolist()
    )

# Ensure the lengths match before assigning
if len(last_five_over_wickets) == len(delivery_df):
    delivery_df['last_five_over_wicket'] = last_five_over_wickets
else:
    print("Length mismatch: Cannot assign 'last_five_over_wicket' column")

# Display the first few rows with the new columns
delivery_df.head()

,match_id,innings,city,winner,total_score,season,start_date,venue,ball,batting_team,...,cricsheet_id,current_score,over,balls_left,wickets_left,crr,result,last_five_over_score,wickets,last_five_over_wicket
0,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",1,Gujarat Titans,...,1370352,0,1,119,10,0.0,1,0.0,0,0.0
1,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,Gujarat Titans,...,1370352,0,1,118,10,0.0,1,0.0,0,0.0
2,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",3,Gujarat Titans,...,1370352,1,1,117,10,2.0,1,1.0,0,0.0
3,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",4,Gujarat Titans,...,1370352,2,1,116,10,3.0,1,2.0,0,0.0
4,1370352,1,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",5,Gujarat Titans,...,1370352,2,1,115,10,2.4,1,2.0,0,0.0

In [160]:
required_data = delivery_df[['batting_team','bowling_team','city','current_score','crr','balls_left','wickets_left','last_five_over_score','last_five_over_wicket','total_score']]
required_data

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
0,Gujarat Titans,Mumbai Indians,Ahmedabad,0,0.000000,119,10,0.0,0.0,234
1,Gujarat Titans,Mumbai Indians,Ahmedabad,0,0.000000,118,10,0.0,0.0,234
2,Gujarat Titans,Mumbai Indians,Ahmedabad,1,2.000000,117,10,1.0,0.0,234
3,Gujarat Titans,Mumbai Indians,Ahmedabad,2,3.000000,116,10,2.0,0.0,234
4,Gujarat Titans,Mumbai Indians,Ahmedabad,2,2.400000,115,10,2.0,0.0,234
...,...,...,...,...,...,...,...,...,...,...
168132,Kings XI Punjab,Chennai Super Kings,Chandigarh,193,10.527273,10,6,47.0,2.0,208
168133,Kings XI Punjab,Chennai Super Kings,Chandigarh,194,10.486486,9,6,42.0,2.0,208
168134,Kings XI Punjab,Chennai Super Kings,Chandigarh,195,10.446429,8,6,43.0,2.0,208
168135,Kings XI Punjab,Chennai Super Kings,Chandigarh,197,10.460177,7,6,45.0,2.0,208
168136,Kings XI Punjab,Chennai Super Kings,Chandigarh,198,10.421053,6,6,45.0,2.0,208

In [161]:
required_data.isnull().sum()

batting_team                 0
bowling_team                 0
city                     10017
current_score                0
crr                          0
balls_left                   0
wickets_left                 0
last_five_over_score         0
last_five_over_wicket        0
total_score                  0
dtype: int64

In [162]:
required_data.dropna(inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7900\2733557037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_data.dropna(inplace=True)

In [163]:
required_data.isnull().sum()

batting_team             0
bowling_team             0
city                     0
current_score            0
crr                      0
balls_left               0
wickets_left             0
last_five_over_score     0
last_five_over_wicket    0
total_score              0
dtype: int64

In [164]:
#sampling Data
final_df = required_data.sample(required_data.shape[0])

In [165]:
final_df.sample()

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
19397,Royal Challengers Bangalore,Chennai Super Kings,Pune,84,7.636364,54,7,25.0,3.0,174

In [166]:
#dropping null values
final_df.dropna(inplace=True)

In [167]:
final_df.shape

(151529, 10)

In [168]:
#storing data in new csv
final_df.to_csv("final_data.csv",index=False)

In [169]:
final_df.head()

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket,total_score
131107,Chennai Super Kings,Rajasthan Royals,Jaipur,135,9.204545,32,9,51.0,0.0,197
52573,Royal Challengers Bangalore,Rajasthan Royals,Bengaluru,45,15.000000,102,6,39.0,4.0,63
118563,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,117,6.267857,8,3,41.0,3.0,124
19676,Gujarat Titans,Punjab Kings,Navi Mumbai,108,6.750000,24,6,40.0,0.0,144
158035,Kings XI Punjab,Chennai Super Kings,Mumbai,77,4.620000,20,3,21.0,1.0,113

In [170]:
X = final_df.drop(columns=['total_score'])
y = final_df['total_score']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [171]:
X_train

,batting_team,bowling_team,city,current_score,crr,balls_left,wickets_left,last_five_over_score,last_five_over_wicket
148320,Mumbai Indians,Delhi Daredevils,Centurion,129,7.740000,20,5,40.0,2.0
28707,Royal Challengers Bangalore,Punjab Kings,Mumbai,171,9.500000,12,8,44.0,1.0
50793,Chennai Super Kings,Delhi Capitals,Visakhapatnam,14,4.000000,99,10,14.0,0.0
2026,Delhi Capitals,Punjab Kings,Dharamsala,94,9.245902,59,10,38.0,0.0
85365,Kings XI Punjab,Delhi Daredevils,Delhi,12,6.545455,109,9,12.0,1.0
...,...,...,...,...,...,...,...,...,...
166922,Mumbai Indians,Chennai Super Kings,Chennai,87,8.156250,56,7,35.0,1.0
124343,Royal Challengers Bangalore,Rajasthan Royals,Jaipur,0,0.000000,119,10,0.0,0.0
81278,Royal Challengers Bangalore,Kings XI Punjab,Chandigarh,9,9.000000,114,10,9.0,0.0
82543,Kings XI Punjab,Gujarat Lions,Rajkot,101,7.575000,40,5,28.0,2.0
104388,Royal Challengers Bangalore,Rajasthan Royals,Abu Dhabi,27,3.375000,72,5,16.0,1.0

In [172]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [173]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
], remainder='passthrough')

In [174]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [ ]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))